# Virtual environment
venv/
.env/

# Models
models/
data/

# MISC
test
commands

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build and distribution
build/
dist/
*.egg-info/
